@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600&display=swap');

body {
   font-family: 'Titillium Web', sans-serif;  
}


/* 공통 */
.row {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 20px;
}

h2 {
   font-size: 40px;
   color: #333;
}

.txt {
   font-size: 14px;
   color: #777;
}

.article2,
.article3,
.article4,
.article5,
.article6 {
   padding-top: 150px; padding-bottom: 150px;
}
/* header outer*/
#header.on .outer {margin-top: -32px;}
#header.on {position: fixed; width: 100%; top: 0; left: 0;
background: #fff; z-index: 999999999;}

#header .outer {
    background:#181818;
    color:#ddd;
    font-size:12px; 
    padding:12px 0px;
    letter-spacing:-0.5px;
    transition: all 0.3s;
}
#header .sns { float:left }
#header .sns a { padding-right:20px }
#header .membership { float:right }
#header .membership a { padding-left:20px;
    position:relative }
   #header .membership a:last-child { padding-right:10px;}
#header .membership a::after {
    content:'';
    width:1px; background:rgba(255,255,255,0.7);
    position:absolute; top:3px; bottom:2px;
    right:-10px; cursor:default; }
#header .membership a:last-child::after {
    display:none
}



#header .outer a:hover { color:rgba(255,255,255,1) }

/* header */
#header {
   position: fixed;
   width: 100%; top: 0; left: 0;
   padding: 0px 0px;
   z-index: 999;
   transition: all 0.3s;
}

#header.on {position: fixed; width: 100%;    padding: 5px 0px;
   top: 0; left: 0;
   background: url(../img/삼각패턴.jpg); z-index: 10000;
}
   
#header.on h1 {
    font-size: 21px;
   

   }

.hambar {display: none;}

h1 {
   float: left;
   font-size: 28px;
   color: #fff;
   font-weight: 600;
   padding: 20px 0px;
   transition: all 0.3s;
}

h1:hover {
   color: #617fde;
}

#header .nav {
   float: right;
   padding: 10px;
}

#header .nav .depth1 {
   font-size: 15px;
   color: #fff;
}
#header.on .nav .depth1 {
   font-size: 16px;

}

#header .nav .depth1 > li:hover a{
   color: #617fde; 
}

#header .nav .depth1>li {
   float: left;
   padding: 15px;
   transition: all 0.1s;
}
#header .nav .depth1>li:last-child {
   padding-right: 0px;

}




/* 섹션구역 */
/* 아티클1 */
#section .article1 .slide1 {
   background: url(../img/main2.jpeg) no-repeat;
   background-size: cover;
   height: 690px;
   position: relative;
}
#section .article1 .slide2 {
   background: url(../img/main4.jpg) no-repeat;
   background-size: cover;
   height: 690px;
   position: relative;
}

.article1 .main_txt {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   color: #fff;
   font-size: 40px;
   line-height: 1.5;
   margin-top: 20px;
}

.article1 .main_txt span {
   font-size: 64px;
   font-weight: 500;
}
.article1 .slide-group .slick-arrow {
   position:absolute; top:50%; transform:translateY(-50%);
   background:none; border:none;
   color:#fff; font-size:5px; color: transparent;
}
.article1 .slide-group .prev { left:50px; z-index:9999; }
.article1 .slide-group .next { right:50px; }

.article1 .slide-group .slick-dots {
    position:absolute; bottom:50px; width:100%; text-align:center;
}
.article1 .slide-group .slick-dots li {
   display:inline-block; margin:0 5px
}
.article1 .slide-group .slick-dots li button {
   width:50px; height:5px; background:#ddd;
   border:none; color:transparent; vertical-align:middle;
}
.article1 .slide-group .slick-dots li.slick-active button {
   border:0.5px solid #ddd; background:none
}

/* 아티클2 */
.article2 h2 {
   display: block;
   float: left;
   width: 20%;
   margin-bottom: 15px;
}

.article2 .txt {
   float: right;
   line-height: 1.7;
   width: 80%;
   padding-left: 100px;
}

.article2 .txt span {
   color: #facb0e;
   font-size: 24px;
   font-weight: 600;
   padding: 10px 0;
}


/* 아티클3  works*/
.article3 {
   text-align: center;
   background: #fafafa;
}
.article3 h2 {margin-bottom: 80px;}

.article3 ul li {
   float: left;
   width: 33.333%;
   padding: 10px;
}

.article3 ul li div:nth-child(1) {
   position: relative;
}

.article3 ul li>div:last-child {
   width: 100%;
   ;
   padding: 25px;
   box-shadow: 0 1px 10px rgb(0 0 0 / 15%);
}

.article3 ul>li div:nth-child(1):before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: #facb0e;
   opacity: 0;
   transition: all 0.5s;
}

.article3 ul>li div:nth-child(1):hover::before {
   opacity: 0.9;
   z-index: 999;
}

.article3 ul li div {
   position: relative;
}

.article3 ul li div .plus {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: #fff;
   font-size: 35px;
   opacity: 0;
   transition: all 0.5s;
}

.article3 ul li div>.plustxt {
   color: #fff;
   font-size: 14px;
   margin-top: 12px;
}

.article3 ul li div:hover .plus {
   opacity: 1;
   z-index: 9999;
}

.article3 ul li h3 {
   color: #333;
   font-size: 20px;
}

.article3 ul li p {
   color: #777;
   font-size: 14px;
   margin-top: 5px;
}
.article3 .workBtn {padding-top: 50px;}
.article3 .workBtn button { font-size: 50px; background: rgba(92, 92, 92, 0.2);
border: none; padding: 10px 13px; border-radius: 5px; color: #fff; transition:all 0.3s ;}
.article3 .workBtn button:hover {background: #facb0e;}

.article3 .formBox { background: #ebebeb; width: 500px; height: 150px;
    margin: 0 auto; padding-top: 25px; margin-top: 20px; display: none;}

    .article3 .Fbtn {background: #fff; padding: 10px; border: none; margin-top: 10px;}



/* 아티클4 */
.article4 h2 {text-align: center;
  margin-bottom: 80px;}
.article4 h2 > p {margin-top: 20px;}
.article4 .art4txt {line-height: 1.7;}
.article4 .art4txt span {font-size: 20px; color: #333;}
.article4 .art4img_1 img {height: 400px; }
.article4 .art4img_2 img {height: 215px; }
.article4 div {float: left; width: 33.333%; padding-right: 15px; }
.article4 div:last-child {padding-right: 0px; }




/* 아티클5 */
.article5 { text-align: center;
   background: #fafafa;
}
.article5 h2 {margin-bottom: 80px;}
.article5 h2 > p { margin-top: 20px;}
.article5 .art5img {width: 100%;}


/* 아티클6 */
/* .article6 {} */
.article6 h2 {margin-bottom: 80px;}
.article6 > div {float: left; width: 50%;}
.article6 ul li {color: #333; font-size: 14px; padding-bottom: 10px;
text-align: left;}
.article6 .data {width: 50%; height: 570px; border: 1px solid #e8e8e8;
position: relative;}
.article6 .data table th
{width: 20%; background-color: #f7f7f7; text-align: center;
padding: 4px;}
.article6 .data table td {width: 80%;border: 1px solid #e8e8e8; padding: 3px;}
.article6 .data table th { border: 1px solid #e8e8e8; vertical-align: middle;}
.article6 input[type='text'] {width: 100%; height: 44px; border: 1px solid #e8e8e8;}
.article6 #emaildomain,
.article6 #email,
.article6 #hp,
.article6 #hp1,
.article6 #hp2 {width: 30%}


.article6 textarea {width: 100%; height: 150px; border: 1px solid #e8e8e8;
resize: none;}

.article6 .information {padding: 10px; }
.article6 .information h4
{ font-size: 14px ; color: #333; text-align: left; padding: 10px 8px; position: relative;}
.article6 .information span { font-size: 10px; position: absolute; right: 15px; top: 0;}
.article6 .information > p {height: 150px; padding: 5px 5px 5px 10px; line-height: 1.5; border:1px solid #e8e8e8;
overflow: scroll; font-size: 12px; text-align: left;}

.article6 button {width: 90px; height: 40px; font-size: 14px;
   color: #777; background: #e8e8e8; border: none; 
   margin:  0 3px; }
   .article6 button:hover {background: #617fde; color: #fff; border: none;}
.article6 .bt {margin-top: 12px; text-align: center;}




/* footer */

#footer {height: 205px; background: #181818; color: #666;
text-align: left; padding: 40px 0; font-size: 14px; line-height: 2.3;}
#footer span {display: block;}
#footer span > a {color: #617fde;}
#footer span > a:hover {color: #facb0e;}

